{% extends 'NonApp/base.html' %}
{% load crispy_forms_tags %}
{% block contenido %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Ha ocurrido un error.
        </div>
    {% endif %}

    <h1>Registrarse</h1>
        <form action="{% url guardarComprador %}" method="post">
            {% csrf_token %}
            {% if mensaje %}
                <div class="alert alert-success" role="alert">
                     Se ha registrado correctamente.
                </div>
 
            {% endif %}
 
            {{  form|crispy  }}
 
            <button type="button" class="btn btn-primary">Guardar</button>
        </form>

{% endblock contenido %}